.job-status {
  @mixin common-status {
    padding: 3px 5px;
    border-radius: 5px;
  }

  @at-root #{&}__starting {
    @include common-status;
  }

  @at-root #{&}__pending {
    @include common-status;
  }

  @at-root #{&}__break {
    @include common-status;
  }

  @at-root #{&}__stop {
    background-color: #d2d6de;
    @include common-status;
  }

  @at-root #{&}__pause {
    color: white;
    background-color: #f39c12;
    @include common-status;
  }

  @at-root #{&}__running {
    background-color: rgb(35, 198, 200);
    @include common-status;
  }

  @at-root #{&}__succed {
    color: white;
    background-color: rgb(84, 185, 110);
    @include common-status;
  }

  @at-root #{&}__waiting {
    color: white;
    background-color: rgb(46, 135, 192);
    @include common-status;
  }

  @at-root #{&}__error {
    color: white;
    background-color: rgb(237, 85, 101);
    @include common-status;
  }

  @at-root #{&}__failed {
    color: white;
    background-color: rgb(237, 85, 101);
    @include common-status;
  }

  @at-root #{&}__forbit {
    color: white;
    background-color: rgb(119, 121, 121);
    @include common-status;
  }
}
